<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style/Style.css">
    <script type="text/javascript" src="./JavaScript/accion.js"></script>
    <title>Raffinity</title>
</head>
<!--El evento onload genera el corazon de Favoritos cuando se carga la pagina-->
<body onload="isFav(isFavI.value)">

    <header>
    <img id="logo" src="./Style/img/Logo.png" onclick="location.href='./Index.php?option=1'">
    <div id="buttonsUser">
        <button type="button" id="bListUsers" onclick="location.href='./Index.php?option=2'">Lista Usuarios</button>
        <button type="button" id="bAddUser" onclick="location.href='./InsertUser.php?option=1'">Añadir Usuario</button>
    </div>
    <form action="./Index.php?option=4" method="post">
        <div class="field" id="searchform">
            <input type="text" id="searchterm" name="searchI" placeholder="Buscar Peliculas por nombre" />
            <button type="submit" id="search">Buscar!</button>
        </div>        
    </form>  
     </header>
    <nav>
        <ul id="navi">
            <li><a href="./Index.php?option=1">Peliculas</a></li>
            <li><a href="./InsertFilm.php?option=1">Añadir Pelicula</a></li>
            <li><a href="./Index.php?option=3">Favoritos</a></li>
        </ul>
    </nav>
    <div class="principal">   