<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/PopUp.css">
    <script type="text/javascript" src="../JavaScript/PopUp.js"></script>
    <title>Pop-Up</title>
</head>
<body>
    <button onclick="popUp()">Haz clic para ver el popup</button>
    <div class="popup-wrapper">
        <div class="popup">
            <div class="popup-close">x</div>
            <div class="popup-content">
                <h3>¿Seguro que deseas eliminar la pelicula?</h3>
                <p>¡Mira que no hay vuelta atrás!</p>
                <button>Si</button>
                <button">No</button>

            </div>
        </div>
    </div>
    
</body>
</html>